@charset "UTF-8";

/* --- Configurações Gerais */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Configurações para o Container Cadastro --- */

#cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    min-width: 500px;
    border: 1px solid rgba(71, 71, 71, 0.778);
    border-radius: 6px;
    background-color: #f4f4f4;
}

#cadastro h1 {
    font: normal bold 26px arial, sans-serif;
    padding: 10px;
    margin: 10px;
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.boxInput {
    display: flex;
    flex-direction: column;
}

#cadastro .inputs {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.331);
    border-radius: 4px;
}

#cadastro button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 0px 0px 1px rgba(133, 133, 133, 0.212);
    border-radius: 6px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

#cadastro button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.error {
    color: red;
    font: normal normal 14px arial, sans-serif;
}

/* --- Configurações para o Container Registrado --- */

#registrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    min-width: 500px;
    border: 1px solid rgba(71, 71, 71, 0.778);
    border-radius: 6px;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
}

#registrado h1 {
    font: normal bold 28px arial, sans-serif;
    margin: 20px;
}

#dadosCadastrados h2 {
    font: normal bold 20px arial, sans-serif;
    margin: 10px 20px 20px 20px;
}

#dadosCadastrados #contaRegistrado {
    font: normal normal 16px arial, sans-serif;
}

#dadosCadastrados #saldoRegistrado {
    font: normal normal 16px arial, sans-serif;
}

#buttonsRegistros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.buttonsRegistrados {
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(219, 219, 219, 0.143);
    padding: 10px;
    margin: 10px;
    background-color: rgba(4, 177, 4, 0.995);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonsRegistrados:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#deposito h2 {
    font: normal bold 20px arial, sans-serif;
    margin: 10px 20px 20px 20px;
}

#deposito input {
    margin: 10px 20px 20px 20px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(229, 229, 229, 0.143);
    padding: 10px;
    margin: 10px;
    color: #000;
}

#deposito button {
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(219, 219, 219, 0.143);
    padding: 10px;
    margin: 10px;
    background-color: rgba(4, 177, 4, 0.995);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#deposito button:hover {
    transform: scale(1.1);
    cursor: pointer;
}